<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalles {{selectedItem.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
  <ion-col width-50 offset-25>
  <ion-card *ngIf="selectedItem" class="selection">
  <ion-card-content>
    <ion-card-title>
      <ion-icon name="{{selectedItem.logo}}" item-left></ion-icon>
      {{selectedItem.nombre}}
      <ion-icon  name="star" *ngFor="let i of getNumber(selectedItem.rating)"></ion-icon><ion-icon  name="star-outline" *ngFor="let i of getNumber(5 - selectedItem.rating)"></ion-icon>
    </ion-card-title>

    <p>
    <span ion-item style="color:#7c7c7c;">      
    {{selectedItem.sector}}
    </span>
    </p>
<hr>
    <span ion-item>      
      {{selectedItem.descripcion}}
    </span>
  </ion-card-content>
  </ion-card>
  </ion-col>
  </ion-row>
</ion-content>
