<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalles {{selectedItem.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    logo: <ion-icon name="{{selectedItem.logo}}"></ion-icon>
    <br>
    <b>{{selectedItem.nombre}}</b>
    <div>
      Sector: <b>{{selectedItem.sector}}</b><br>
      Rating: <ion-icon  name="star" *ngFor="let i of getNumber(selectedItem.rating)"></ion-icon><ion-icon  name="star-outline" *ngFor="let i of getNumber(5 - selectedItem.rating)"></ion-icon>
      <br>
      Descripcion: <b>{{selectedItem.descripcion}}</b><br>
    </div>
  </div>
</ion-content>
