<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Krato App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-searchbar [(ngModel)]="termino" [formControl]="controlBusqueda" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    
  <ion-list>
    <button ion-item *ngFor="let local of comercios_json" (click)="itemTapped($event, local)">
      <!-- <ion-icon name="{{local.logo}}" item-left></ion-icon> -->
      <b>{{local.nombre}}</b>
      <br>
        {{local.sector}}
      
      <br>
      <ion-icon  name="star" *ngFor="let i of getNumber(local.rating)"></ion-icon><ion-icon  name="star-outline" *ngFor="let i of getNumber(5 - local.rating)"></ion-icon>
      
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    Detalles: <b>{{selectedItem.nombre}}</b>
  </div>
</ion-content>