.krato-page {

button > .menu-icon{
	font-size: 5em !important;
}

.button-clear-md,.button-clear-ios{
	height: 100%
}

.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}