.ion-icon.menu-icon{
	font-size: 4em !important;
}

.searchbar-md .searchbar-input{
	border-radius: 50px;
}

.button-md{
	border-radius: 100%;
}

.button-clear-md,.button-clear-ios{
	height: 8.5rem;
	width: 8.5rem;
}

.krato-page {
.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}