.ion-icon.menu-icon{
	font-size: 4em !important;
}
.button-clear-md,.button-clear-ios{
	height: 100%
}

.krato-page {
.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}